<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  	<listener class-name="tests.Listeners"/>
  	<listener class-name="resources.ExtentReporterNG"/>
  </listeners>
  
  <test name="Testing Home Page">
    <classes>
      <class name="tests.AccountDropDownAfterLogInTests"/>
      <class name="tests.ChooseNFLPlayersForLineupTests"/>
      <class name="tests.CreateNewLineupQuestionsTests"/>
      <class name="tests.HomePageTests"/>
      <class name="tests.LoginPageTests"/>
      <class name="tests.NFLLobbyTests"/>
    </classes>
  </test>
     
</suite>
